html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

#contact_modal {
    display: none;
}


.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

/***************************** Header ***********************************/
.body {
    font-family: "DM Sans", sans-serif;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    order: 2;
}

.photograph-header h1 {
    color: #D3573C;
    font-size: 36px;
    margin-left: 50px;
}

.photograph-header h3 {
    color: #901C1C; 
}

.photograph-header img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
    filter: drop-shadow(0 0 0.95rem rgba(190, 186, 187, 0.671));
    order: 3;
    margin-right: 50px;
}

.content-profil{
    margin-left: 50px;
    margin-top: 15px;
    line-height: 2;
}

/********************************* Filter ***************************/

.gallery-filter {
    width: 100vh;
    margin-left: 100px;
    margin-top: 25px;;
    display: inline-flex;
    font-weight: bolder;
    align-items: center;
}

.filter-label {
    margin-right: 25px;
}


#filters {
    font-size: 20px;
    font-weight: bold;
    color: white;   
    width: 150px;
    height: 50px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    padding: 11px;
}

.select {
    font-weight: bold;
    display: inline-block;
    height: 50px;
}

.select:hover {
    background-color: #D3573C;
}

/********************************* Gallery ***************************/

.body-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 162px;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
}


.gallery-card img {
    margin-bottom: 5px;
    height: 350px;
    width: 400px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
}

.gallery-card video {
    margin-bottom: 5px;
    height: 350px;
    width: 400px;
    object-fit: cover;
    border-radius: 10px;
}

.article-gallery{
    display: flex;
    justify-content: center;
}

.content-text {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    color: #901C1C; 
}

/******************Likes css********************/

.heart {
    margin-left: 5px;
}

.likes-gallery {
    font-weight: bold;
}

/********************Footer gallery********************/

.footer-gallery {
    background: #D3573C;
    width: 300px;
    height: 50px;
    position: fixed;
    bottom: 0;
    right: 25px;
    z-index: 9;
    display: flex;
    align-items: center;
    border-radius: 10px 10px 0 0;
}

.footer-gallery i {
    margin-right: 80px;
}

#footer__like-count{
    margin-left: 30px;
}

/******************Lightbox Modal********************/
.show {
    display: block;
}

.hide {
    display: none;
}

.lightbox {
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background: rgb(255, 253, 253);
	z-index: 10;
	animation: lightboxIn .5s;
}


.lightbox-next,
.lightbox-prev {
	border: none;
	background: url(../assets/icons/arrow.svg) center center / 32px 56px no-repeat;
	width: 80px;
	height: 100%;
	position: fixed;
    top: 0;
	right: 0;
	margin-top: -14px;
	z-index: 11;
	margin-right: 50px;;
}

.lightbox-prev {
	right: auto;
	left: 0;
	transform: rotate(180deg);
	margin-left: 50px;
}

.lightbox-close {
	border: none;
	width:30px;
	height: 30px;
	background: url(../assets/icons/close-lightbox.svg) center center / 100% 100% no-repeat transparent;
	position:fixed;
	top: 20px;
	right: 75px;
	z-index: 12;
}

.lightbox button {
	opacity: .8;
	cursor: pointer;
	transition: opacity .3s;
	text-indent: -9000px;
}

.lightbox button:hover {
	opacity: 1;
}

.lightbox-container img {
	max-width: 100%;
	height: 550px;
	animation: lightboxIn .5s;
}

.lightbox-container h2 {
    margin-top: 5px;
    color: #901C1C;
}

.lightbox-container {
	display:flex;
    flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-left: 150px;
	margin-right: 150px;
	min-height: 100vh;
}

@keyframes lightboxIn {
	from {opacity: 0;}
	to {opacity: 1;}
}

