@import url("photographer.css");

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
    font-size: 36px;
}

.add-likes {
    cursor: pointer;
}

.logo {
    height: 50px;
    margin-left: 50px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
}

.profil-content {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profil-content h3 {
    color: #901C1C;
}

.profil-content span {
    color: #999595;
    font-size: 13px;
}

.photographer_section .profil-content p {
    font-size: 15px;
}

.lien-profil {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    color: black;
}

.lien-profil img {
    margin-bottom: 20px;
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
    filter: drop-shadow(0 0 0.95rem rgba(190, 186, 187, 0.671));
}

/**********************Media ******************************/

@media (max-width: 1025px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 190px;
    }

    .logo {
        margin-top: 25px;
        height: 80px;
    }

    h1 {
        align-self: baseline;
        margin-left: 50px;
        font-size: 50px;
    }

    .photographer_section {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        justify-content: center;
        margin-top: 30px;
    }

    .photographer_section article {
        background: rgb(241, 240, 238);
        border-radius: 15px;
        padding-top: 25px;
        width: 80%;
        align-self: center;
        height: 360px;
    }
    

    .lien-profil img {
        border-radius: 5%;
        width: 600px;
    }
} 